html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/KALAMEH/Kalameh-Regular.woff2") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-kalameh: "Kalameh", "sans-serif";
}
